<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say Something
</h4>

<div class="ui container">
  <div class="col-md-12">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%= render partial: "message/message" , collection: @messages %>

        </div>

        <%= form_for(@message, url: messages_path, remote: true) do |form| %>
          <div class="container">

          </div class="row d-flex">
          <div class="col-md-12">
            <%= form.text_field :body, class: "form-control" %>
          </div>
          <div class="col-md-1" >
            <%= form.submit "Send" , id: "send" %>
          </div>
          <% end %>
          </div>
      </div>

    </div>

    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui inverted vertical menu">
            <a class="active item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
